p{
    display: block;
    height: 20px;

    background-color: pink;
    margin-top: 20px;
}
.login{
    width: 300px;
    height: auto;
    background: #f8f8f8;

}

.name{
    width: 80%;
    text-align: center;

}